/*最近の活動*/

.list ul {
	width: 100%;
	margin-left: auto;
	display: flex;
	text-decoration: none;
	list-style: none;
}
.list li {
	flex: 1 1 auto;
	text-decoration: none;
	text-align: center;
	color: black;
	font-weight: bolder;
	margin-right: 5%;
}
.list li a:hover {
	color: red;
}
.first {
	margin-left: 0;
	padding-left: 0;
}
/*.listAnime li {
	text-decoration: none;
	list-style: none;
	border-bottom: 1px black solid;
}*/
li a:hover {
	transform: scale(1.2);
	font-weight: bolder;
}

.headerFlex {
	display: flex;
}
.Title {
	flex: 1 1 auto;
    margin-right: 70%;
}
.Title a:hover {
	font-size: 1.3em;
	font-weight: 1.5em;
}
/*
.roppo {
	flex: 1 1 auto;
	margin: 5% 5% 0 80%;
}*/

a {
	text-decoration: none;
	color: black;
}
h2:hover {
	transform: scale(1.1);
	font-weight: 2em;
}
.wrapper {
	background-color: white;
}
.title {
	margin-left: 5%;
	font-size: 1em;
}
.Title {
	width: 50%;
}
.sotukaisei {
	/*margin-left: 40%;*/
	text-align: center;
	font-size: 2.5em;
	font-weight: bolder;
}



.whole {
    text-align: center;    
}

li {
    list-style: none;
}

.mainPicture img{
	width: 80%;
}

.activityList {
	padding: 0;
	display: grid;
	grid-template-columns: 30% 5% 30% 5% 30%;
	grid-template-rows: 100%;
	grid-area: 
		"recentBox1 blank recentBox2 blank recentBox3";
}

.blank {
	grid-area: 
		'blank';
}

.recentBox1 {
	grid-area: 
		'recentBox1';
}

.recentBox2 {
	grid-area: 
		'recentBox2';
}

.recentBox3 {
	grid-area: 
		'recentBox3';
}

.rececntActivity {
	width: 100%;
}

/*最新の活動アニメ*/
 
.mainPictureAnime {
	animation-name: mainPictureAnime;
	animation-duration: 1s;
	animation-fill-mode: forwards;
	opacity: 0;
}

@keyframes mainPictureAnime{
	0% {
		transform-origin: right top;
		transform: rotate(-30deg);
		opacity: 0;
	}
	100% {
		transform-origin: right top;
		transform: rotate(0deg);
		opacity: 1;
	}
}

.recentBox1Anime {
	animation-name: recentBox1Anime;
	animation-duration: 1s;
	animation-fill-mode: forwards;
	animation-delay: 0.2s;
	opacity: 0;
}

@keyframes recentBox1Anime{
	0% {
		transform-origin: right top;
		transform: rotate(-30deg);
		opacity: 0;
	}
	100% {
		transform-origin: right top;
		transform: rotate(0deg);
		opacity: 1;
	}
}

.recentBox2Anime {
	animation-name: recentBox2Anime;
	animation-duration: 1s;
	animation-fill-mode: forwards;
	animation-delay: 0.3s;
	opacity: 0;
}

@keyframes recentBox2Anime{
	0% {
		transform-origin: right top;
		transform: rotate(-30deg);
		opacity: 0;
	}
	100% {
		transform-origin: right top;
		transform: rotate(0deg);
		opacity: 1;
	}
}

.recentBox3Anime {
	animation-name: recentBox3Anime;
	animation-duration: 1s;
	animation-fill-mode: forwards;
	animation-delay: 0.4s;
	opacity: 0;
}

@keyframes recentBox3Anime{
	0% {
		transform-origin: right top;
		transform: rotate(-30deg);
		opacity: 0;
	}
	/*n%２セットで１durationだからこれだとカクカクになる*/
	/*50% {
		transform-origin: right top;
		transform: rotate(-15deg);
		opacity: 0.5;
	}*/
	100% {
		transform-origin: right top;
		transform: rotate(0deg);
		opacity: 1;
	}
}

/*toAnime*/
.topAnime1 {
	animation-name: topAnime;
	animation-fill-mode: forwards;
	animation-duration: 1s;
	opacity: 0;
}
.topAnime2 {
	animation-name: topAnime;
	animation-fill-mode: forwards;
	animation-duration: 1s;
	animation-delay: 0.4s;
	opacity: 0;
}
.topAnime3 {
	animation-name: topAnime;
	animation-fill-mode: forwards;
	animation-duration: 1s;
	animation-delay: 0.8s;
	opacity: 0;
}
@keyframes topAnime{
	from {
		transform: translateY(40%);
		opacity: 0;
	}
	to {
		transform: translateY(0);
		opacity: 1;
	}
}

.first a:hover {
	font-size: 1.2em;
	font-weight: 2em;
}
.second a:hover {
	font-size: 1.2em;
	font-weight: 2em;
}
.third a:hover {
	font-size: 1.2em;
	font-weight: 2em;
}